# Question 1
Value Displayed.

In [56]:
a = 0  

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

# Simulating the sequence of function calls and final evaluation of `a`
b()  
b()  
b()  

a

6

# Question 2
Modify function fileLength

In [59]:
def fileLength(filename):
    try:
        with open(filename, 'r') as infile:
            file_data = infile.read()
            return len(file_data)
    except FileNotFoundError:

        print(f"File {filename} not found.")
    except Exception as e:
    
        print(f"An error occurred: {e}")


print(fileLength('midterm.py'))  
print(fileLength('idterm.py'))

File midterm.py not found.
None
File idterm.py not found.
None

# Question 3

Write a class named Marsupial, then Kangaroo as a subclass of Marsupial.

In [62]:

class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x, y):
       
        super().__init__()
        
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"


# Create a new Kangaroo at (0,0)
k = Kangaroo(0, 0)
print(k) 

# Add items to the pouch
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')

# Check pouch contents
print(k.pouch_contents())  

# Make the Kangaroo jump
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)


print(k)  # Should print the updated location (3,0)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)

# Question 4

Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x.

In [65]:
def collatz(x):
    print(x)
    
    if x == 1:
        return
   
    elif x % 2 == 0:
        collatz(x // 2)
    
    else:
        collatz(3 * x + 1)


collatz(1) 
print("---")
collatz(10)

1
---
10
5
16
8
4
2
1

# Question 5

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [68]:
def binary(n):
    if n == 0:
        print(0, end='')
        return
    elif n == 1:
        print(1, end='')
        return

    else:
        binary(n // 2)
        print(n % 2, end='')


binary(0)  
print()    
binary(1)
print()
binary(3)  
print()
binary(9)

0
1
11
1001

# Question 6 

Implement a class named HeadingParser

In [71]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.current_heading_level = None

    def handle_starttag(self, tag, attrs):
    
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            
            self.current_heading_level = int(tag[1])

    def handle_endtag(self, tag):
       
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.current_heading_level = None

    def handle_data(self, data):
        
        if self.current_heading_level:
       
            print(' ' * (self.current_heading_level - 1) + data.strip())

html_content = """
<html>
<head><title>Test Document</title></head>
<body>
<h1>Main Heading</h1>
<p>Some paragraph text.</p>
<h2>Subheading 1</h2>
<h3>Sub-subheading</h3>
<h2>Subheading 2</h2>
<h4>Deeper subheading</h4>
</body>
</html>
"""


parser = HeadingParser()
parser.feed(html_content)

Main Heading
 Subheading 1
  Sub-subheading
 Subheading 2
   Deeper subheading

# Question 7
Implement recursive function webdir().

In [77]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    # Print the current URL with the specified indentation
    print(' ' * indent + url)
    
    # Base case: if depth is 0, return
    if depth == 0:
        return
    
    try:
        # Fetch the content of the URL
        response = requests.get(url)
        # If the request is successful, parse the HTML
        if response.status_code == 200:
            soup = BeautifulSoup(response.text, 'html.parser')
            # Extract all links from the page
            for link in soup.find_all('a', href=True):
                # Get the absolute URL
                next_url = link['href']
                # Some links may be relative; make them absolute
                if next_url.startswith('/'):
                    next_url = requests.compat.urljoin(url, next_url)
                
                # Recursive call for the next URL
                webdir(next_url, depth - 1, indent + 4)
    except requests.RequestException as e:
        # Print an error message if there is an issue with the request
        print(' ' * indent + f"Error: {e}")

# Example usage
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

# Question 8

Write SQL queries.

In [41]:
import sqlite3

conn = sqlite3.connect(':memory:')
cur = conn.cursor()

cur.execute('''
CREATE TABLE Weather (
    City TEXT,
    Country TEXT,
    Season TEXT,
    Temperature REAL,
    Rainfall REAL
)
''')

data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5),
    ('London', 'UK', 'Winter', 4.2, 207.7),
    ('London', 'UK', 'Spring', 8.3, 169.6),
    ('London', 'UK', 'Summer', 15.7, 157.0),
    ('London', 'UK', 'Fall', 10.4, 218.5),
]
cur.executemany("INSERT INTO Weather VALUES (?, ?, ?, ?, ?)", data)
conn.commit()

print("a) All the temperature data:")
for row in cur.execute("SELECT Temperature FROM Weather"):
    print(row[0])
print()

print("b) All the cities, but without repetition:")
for row in cur.execute("SELECT DISTINCT City FROM Weather"):
    print(row[0])
print()

print("c) All the records for India:")
for row in cur.execute("SELECT * FROM Weather WHERE Country = 'India'"):
    print(row)
print()

print("d) All the Fall records:")
for row in cur.execute("SELECT * FROM Weather WHERE Season = 'Fall'"):
    print(row)
print()

print("e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters:")
for row in cur.execute("""
    SELECT City, Country, Season
    FROM Weather
    WHERE Rainfall BETWEEN 200 AND 400
"""):
    print(row)
print()

print("f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:")
for row in cur.execute("""
    SELECT City, Country
    FROM Weather
    WHERE Season = 'Fall' AND Temperature > 20
    ORDER BY Temperature ASC
"""):
    print(row)
print()

print("g) The total annual rainfall for Cairo:")
for row in cur.execute("""
    SELECT SUM(Rainfall)
    FROM Weather
    WHERE City = 'Cairo'
"""):
    print(row[0])
print()

print("h) The total rainfall for each season:")
for row in cur.execute("""
    SELECT Season, SUM(Rainfall)
    FROM Weather
    GROUP BY Season
"""):
    print(row)
print()

conn.close()

a) All the temperature data:
24.8
28.4
27.9
27.6
13.6
20.7
27.7
22.2
4.2
8.3
15.7
10.4

b) All the cities, but without repetition:
Mumbai
Cairo
London

c) All the records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

d) All the Fall records:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('London', 'UK', 'Fall', 10.4, 218.5)

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters:
('Mumbai', 'India', 'Fall')
('London', 'UK', 'Winter')
('London', 'UK', 'Fall')

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:
('Cairo', 'Egypt')
('Mumbai', 'India')

g) The total annual rainfall for Cairo:
27.6

h) The total rainfall for each season:
('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

# Question 9

Write list comprehension expressions .

In [44]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

upper_words = [word.upper() for word in words]
print("a)", upper_words)

lower_words = [word.lower() for word in words]
print("b)", lower_words)

word_lengths = [len(word) for word in words]
print("c)", word_lengths)

word_info = [[word.upper(), word.lower(), len(word)] for word in words]
print("d)", word_info)

long_words = [word for word in words if len(word) >= 4]
print("e)", long_words)

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3]
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
e) ['quick', 'brown', 'jumps', 'over', 'lazy']